@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('//at.alicdn.com/t/font_s9vpnvd3k1acq5mi.eot');
  src: url('//at.alicdn.com/t/font_s9vpnvd3k1acq5mi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_s9vpnvd3k1acq5mi.woff') format('woff'),
  url('//at.alicdn.com/t/font_s9vpnvd3k1acq5mi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_s9vpnvd3k1acq5mi.svg#iconfont') format('svg');
}
// Catchall baseclass
.glyphicon {
  position: relative;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-music                  { &:before { content: "\e60d"; } }
.glyphicon-video                  { &:before { content: "\e625"; } }
.glyphicon-friend                 { &:before { content: "\e645"; } }
.glyphicon-brodcast               { &:before { content: "\e624"; } }
.glyphicon-findmusic              { &:before { content: "\e7ff"; } }
.glyphicon-yun                    { &:before { content: "\e67c"; } }
.glyphicon-singer                 { &:before { content: "\e61a"; } }
.glyphicon-like                   { &:before { content: "\e627"; } }
.glyphicon-diantai                { &:before { content: "\e6f4"; } }
.glyphicon-upload                 { &:before { content: "\e639"; } }
.glyphicon-localmusic             { &:before { content: "\e626"; } }
.glyphicon-musiclist              { &:before { content: "\e65c"; } }
.glyphicon-headset                { &:before { content: "\e60e"; } }
.glyphicon-search                 { &:before { content: "\e615"; } }
